body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.7em;
  color: black;
  text-align: left;
  width: 600px;
  margin: 20px auto;
}

#sort {
  margin: -14px 0 30px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

#sort a {
  text-decoration: none;
  color: grey;
  margin-right: 5px;
}

#sort a.active {
  font-weight: 500;
  color: black;
}

#filter {
  display: block;
  margin: 20px auto;
  border: 1px solid silver;
  border-radius: 10px;
  font-size: 16px;
  color: darkslategrey;
  padding: 10px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin: 40px 0;
}

.hidden {
  display: none;
}

.num {
  font-size: 16px;
  color: limegreen;
  margin-left: 10px;
}

.forms {
  color: silver;
  font-size: 14px;
}

.forms-2 {
  color: skyblue;
  font-size: 14px;
}

h2 {
  margin-left: 50px;
}

h3 {
  margin-left: 100px;
  color: maroon;
}

h5 {
  text-align: center;
  color: darkslategrey;
  font-weight: 400;
  font-size: 13px;
}
